<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/style.css">

  <title>Sign Up</title>
</head>
<body>
      <div class="container-fluid auth-form-container">
        <div class="container auth-form">
          <!-- username -->

              <form class="signup-form" action="/signup" method="POST">
              <input class="auth-input1" type="text" name="username" placeholder="username">
            <!-- password -->
              <br>
              <input class="auth-input1" type="text" name="password" placeholder="password">

            <!-- address -->
              <br>
              <div class="address-container">

                <input class="auth-input1" id="locationName1" name="locationName" type="text"  placeholder="Address">
            <!-- if account login -->
                 <p class="message">Have an account?<a href="/login">Log in</a></p>
                <button class="auth-button1">Create account</button>
              </form>

              </div>
        </div>
</div>
<!-- errormessage -->
  <br>
  <%if (typeof(errorMessage) != "undefined") { %>
    <div class ="error-message"> <%=errorMessage%>
  <% } %>



</body>
<script type="text/javascript"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOIE4dsj3p9EoaRDnXSw24m9yGx_zCn0U&libraries=places"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/searchWithoutMap.js"></script>

</html>
