

<div class="container-fluid search-date-container">
  <div class="row ">
          <div class="col-xs-12 col-sm-12 col-lg-12 background-image">
                  <h3 class="content-header">You can eat with us</h3>
              <div class="submit-form search-when-where-form">
                <form>
                  <label class="index-label" for="location">Where are you going?</label>
                  <input id="locationName" name="locationName" type="text" class="input-form-location">
                  <input type="hidden" id="lat" name="lat" value="">
                  <input type="hidden" id="long" name="long" value="">
                  <label class="index-label" for="date">When?</label>
                  <input type="date" class="input-form">
                  <br>
                  <br>
                  <button class="search-button" id="search-button-my">Search</button>
                </form>
              </div>
          </div>
  </div>
</div>
<br><br>

<!-- information after page break -->
<div class="container information-container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-lg-4 information-text-box">
        <img src="images/waiter.png" class="img-circle" alt="Cinque Terre">
        <p><strong>information text 1</strong>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, </p>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-4 information-text-box">
        <img src="images/cooking.png" class="img-circle" alt="Cinque Terre">
        <p><strong>information text 2</strong>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-4 information-text-box">
        <img src="images/bar.png" class="img-circle" alt="Cinque Terre">
        <p><strong>information text 3</strong>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt</p>
      </div>
    </div>
</div>
