<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/favicon1.ico" type="image/png">

  </head>
  <body>
<!-- navbar -->
    <div class="navbar navbar-default navbar-fixed-top navbar-inner" data-toggle="collapse">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-lg-7 nav-item">
              <a href="/">Index</a></div>

            <div class="col-xs-12 col-sm-5 col-lg-5 nav-item">
                    <a href="/users/<%=user._id%>">Profile</a>
                    <a href="/logout">Logout</a>
            </div>
        </div>
    </div>
<!-- seperator -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-md-lg-12 seperator-box">
          <img src="images/bar.png" class="img-circle profile-image" alt="Cinque Terre">
            <div><h2 class="name-tag">Name</h2></div>
        </div>
      </div>
    </div>
<!-- profiledetails -->

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <!--Sidebar content-->
      <div class="user-info-box-left">
        <h2>About yourself</h2>
          <h3>Cooking style</h3>
          <p>i like burgers</p>
          <h3>Work</h3>
          <p>rapper</p>


      </div>
      <div class="create-event">
        <button>Create new event</button>
      </div>
    </div>
    <div class="col-xs-12 col-sm-9 user-description-box">
      <h2>City:</h2>
      <p> placeholder: location from signup page</p>
      <h2>Description:</h2>
      <p>i like to eat stuff und cook</p>
      <h2>RATINGS</h2>
      <div class="user-reviews">
        <h2>Reviews</h2>
        <p>placeholder: for reviews</p>
      </div>


      <!--Body content-->
    </div>
  </div>
</div>
  </body>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</html>
