html{
  padding:0 ;
}
body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
  margin-left: 8px;
  margin-right: 10px;
}

.navbar-inner{
  background-color: transparent;
   background: transparent;
   border-color: transparent;

}
.content-header{
  background-color: transparent;
   background: transparent;
   border-color: transparent;
  font-family: impact;
  font-size: 80px;
  color: white;
  text-align: center;
  padding-bottom:40px;
}
#locationName{
  font-size: 100%;
  font-family: sans-serif;
  width: 40%;
  height: 40px;
}
label {
  color: white;
  font-size: 24px;
}
.input-form{
  height: 40px;
  font-size: 20px;
}
.search-date-container{
  padding-top: 300px;
  background: url("http://wallpaper-gallery.net/images/wallpaper-food/wallpaper-food-13.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  align-items: center;
}

.nav-item{
  text-align: right;
  padding: 15px;
  font-size:16px;
  height:60px;

}
.nav-item1{
  padding: 15px;
  font-size:16px;
  height:60px;
}

.information-text-box{
  background-color: lightblue;
  text-align: center;
  border:  solid white 10px;
  border-radius: 30px;
  height: 500px;
  padding: 20px;
}
.img-circle{
  margin-bottom: 0px;
  width: 15vh  ;
  height: auto;
}
.user-info-box-left{
  border: 2px dotted black;
}
.user-description-box{
  border: 2px dotted black;
}

.seperator-box{
  height: 300px;
  padding-top: 100px;
  background-color: lightblue;
}
.profile-image{

}
  .name-tag{
    padding-left: 300px;
  }
.search-button{
  background: white;
  width:100px;
  height:40px;
}
