html{
  padding:0 ;
}
body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
  margin-left: 8px;
  margin-right: 10px;
}


.content-header{
  font-size: 40px;
  color: white;
}
#locationName{
  font-size: 100%;
  font-family: sans-serif;
  width: 40%;
  height: 40px;
}
label {
  color: white;
  font-size: 24px;
}
.input-form{
  height: 40px;
  font-size: 20px;
}
.search-date-container{
  padding-top: 300px;
  background: url("http://wallpaper-gallery.net/images/wallpaper-food/wallpaper-food-13.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  align-items: center;
}

.nav-item{
  padding: 15px;
  font-size:18px;
  height:60px;

}
.nav-item1{
  padding: 15px;
  font-size:18px;
  height:60px;
}

.information-text-box{
  height: 200px;
  padding: 20px;
}
